---
const PROJECTS = [
    {
        title: "Botanify",
        description: "Pagina web para la promocion y venta de plantas",
        image: "/img/projects/botanify.webp",
    },
    {
        title: "Portal Games",
        description: "Conoce los clasicos de las arcades",
        image: "/img/projects/portalgames.avif",
    },
];
---

{
    PROJECTS.map((project) => (
        <article>
            <h3 class="text-2xl font-semibold mt-10">{project.title}</h3>
            <p class="text-lg mb-3 dark:text-gray-300">{project.description}</p>
            <img class="rounded shadow-2xl shadow-white/10" src={project.image} alt={`captura del proyecto ${project.title}`} />

        </article>
    ))
}
